*.log
*.out
*.gz
*.toc
*.aux
*.bbl
*.blg
*.dvi
*.pdf
*.fls
*.fdb_latexmk
*.url
*.synctex*
.github
.vscode
__latexindent_temp.tex
*.code-workspace
*.thm
*.nav
*.snm

*out/

!kitlogo_de_rgb.pdf